doctype html
html
  head

    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous")

    title Node.js 사전과제

  body
    h1 PROGRAPHY 4th::Node.js 사전과제
    h5 하태린이 만들었습니당(ง ˙ω˙)ว 너무 힘들어써오... 
    hr
  
    ul
      each topic in topics
        li
          a(href='/topic/'+topic.id)= topic.title
    artcle
      form(action='/topic/add' method='post')
        p
          input(type='text' name='title' placeholder='title')
        p
          textarea(name='description' placeholder='description')
        p
          input(type='text' name='author' placeholder='author')
        p
          input(type='submit')