doctype html
html
	head
		meta(charset='utf-8')
	body
		h1 
			a(href='/board')프로그라피 4기 사전과제
		hr

		h5
			목차	
		ul
			each board in boards
				li
					a(href='/board/'+board)= board
		article

			form(action='/board' method='post')
				p
					input(type='text' name='title' placeholder='title')
				p
					textarea(name='content')
				p
					input(type='submit')